<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/vue.min.js"></script>
    <script src="../static/js/axios.min.js"></script>
    <script src="../static/js/element.js"></script>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/css/element.css" rel="stylesheet"/>
    <title>主页</title>
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
<div id="header">
    <headers></headers>
</div>
<div id="main" v-cloak>
    <!--   如果status为false(没有登录)则展示登录的界面   -->
    <div class="container" v-if="status===false" >
        <div class="jumbotron" style="opacity: 0.7;padding-bottom: 10px">
            <h2>我们发现您还没有登录,快来登陆创建您的博客吧!</h2>
            <el-button type="primary" round @click="login">立&nbsp;&nbsp;马&nbsp;&nbsp;登&nbsp;&nbsp;录</el-button>
            <p>还没有账号?<a href="https://localhost:8443/register" style="cursor: pointer;margin-top: 10px;display: inline-block">立即注册!</a></p>
        </div>
    </div>
</div>
<div id="footer">
    <h2>我们是底部</h2>
</div>
</body>
<script src="../static/js/header.js"></script>
<script>
    new Vue({
        el: '#main',
        methods: {
            login: function () {
                window.location.href = "https://localhost:8443/login"
            }
        },
        data:{
            //是否登录
            status:true,
        },
        created(){
            //在Vue实例创建的时候发送异步请求将token作为请求头带去后端看用户是否登录
           axios.get("https://localhost:8443/loginOrOut", header)
               .then(res => {
                   // 如果没有登录,则将登陆状态status设置为false
                   if (res.data.loginStatus !== true){
                       this.status = false
                   }
               })
            axios.get("https://localhost:8443/test", header)
                .then(res => {
                    console.log(typeof res.data)
                    console.log(res.data)
                    console.log(res.data.code)
                })
        }
    })
</script>
</html>