<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/vue.min.js"></script>
    <script src="../static/js/axios.min.js"></script>
    <script src="../static/js/element.js"></script>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/css/element.css" rel="stylesheet"/>
    <title>Title</title>
</head>
<body>
<div id="header" v-cloak>
    <headers></headers>
</div>
<div id="main">
    <div id="sidebar"></div>
</div>
</body>
<script src="../static/js/header.js"></script>
<script>
    new Vue({
        el:"#main",

    })
</script>
</html>